/*
CSS for print formatting of a curriculum vitae. Modified from CSS for documents using APA style.

Created formatting based on APA 6th Ed.
*/
@page{
    size:   auto;
    margin: 1in, 1in, 1in, 1in;
}

body{
    font-family: "Times New Roman", "serif";
    font-size:   12pt;
}

dt {
    width:               6em;
    float:              left;
    margin-left:         1em;
    text-align:       center;
    page-break-after:  avoid !important;
}
dd {
    margin-left:      7em;
    padding-left:   .25in; /* hanging indent */
    text-indent:   -.25in; /* hanging indent */
    margin-top:      12pt; /* "double space" between each entry */
    margin-bottom:   12pt; /* "double space" between each entry */
}
ul{
    padding-left:   .25in; /* horizontal alignment with centered date spans */
}
li {
    margin-top:      12pt; /* "double space" between each entry */
    margin-bottom:   12pt; /* "double space" between each entry */
}
abbr[title] {
  text-decoration:   none;
}
#header-left {
    display:    inline-block;
    width:               50%;
}
#header-right {
    display:    inline-block;
    text-align:        right;
    width:               50%;
}

/*
Headings

Does not handle capitalization or punctuation.
*/
h1{
    text-align:       center;
    font-weight:        bold;
    font-size:          20pt;
    page-break-after:  avoid !important;
    margin-bottom:     .25em;
    font-variant: small-caps;
}
h2{
    font-weight:         bold;
    font-size:        inherit;
    page-break-after:   avoid !important;
}
h3{
    font-weight:         bold;
    padding-left:       .25in;
    font-size:        inherit;
    /* display:     inline-block; */ /* not used in cv, but used to make these inline headings in APA style */
    page-break-after:   avoid !important;
}
h4{
    font-weight:         bold;
    font-style:        italic;
    padding-left:       .25in;
    font-size:        inherit;
    /* display:     inline-block; */ /* not used in cv, but used to make these inline headings in APA style */
    page-break-after:   avoid !important;
}
h5{
    font-style:        italic;
    padding-left:       .25in;
    font-size:        inherit;
    /* display:     inline-block; */ /* not used in cv, but used to make these inline headings in APA style */
    page-break-after:   avoid !important;
}
/* h6 is not used, APA style only goes 5 levels deep */

/*
References

Layout only.
*/

.reference {
    padding-left:   .25in; /* hanging indent */
    text-indent:   -.25in; /* hanging indent */
    margin-top:      12pt; /* "double space" between each entry */
    margin-bottom:   12pt; /* "double space" between each entry */
}

/*
Courses

Layout only.
*/

.course {
    text-align:     left;
    width:          17em; /* increase this if course names wrap, which destroys this formatting */
}
.course-dates {
    text-align: right;
    margin-left:    18em; /* increase this if course names wrap, which destroys this formatting */
}